#bodyForm{

 }

#bodyForm:not(div) {
    background-color: #f6fffb;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
}

#myForm-wrapper{
    display: flex;
}

#myFormInscription{
    width : 99vh;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
}

.titleForm{
    text-align: center;
    padding: 30px;
}

#register{
    min-height: 30vh;
}

.helper-text{
    color: #bc121e;
}


.champsOptionnels{
    border-left: 3px solid #4A77BF;
    padding-left: 3%;
}

.champsOptionnels > h5{
    color: #4A77BF;
}


.champsObligatoires{
    border-left: 3px solid #F2A562;
    padding-left: 3%;
}

.champsObligatoires > h5{
    color: #F2A562;
}