*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#myForm-wrapper{
    width: 80%;
    padding : 5px;
    margin-bottom: 10px;
    box-shadow: 3px 6px 4px #bbb4b5;
}

.hiddendiv{
    display: none;
}

h2{
    text-align: center;
}

#boutonEnvoi{
    display: block;
    margin: auto;
}

.row{
    margin-top : 20px;
    padding-left: 10px;
}

.champsOptionnels{
    border-left: 3px solid #4A77BF;
}

.champsOptionnels > h5{
    color: #4A77BF;
}


.champsObligatoires{
    border-left: 3px solid #F2A562;
}

.champsObligatoires > h5{
    color: #F2A562;
}