*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.createur-elem{
    display: flex;
    flex-direction : column;
}

.createur-elem > img{
    width: 60px;

}


.form-wrapper{
    padding: 10%;
}

.ficheProjet{
    border: 2px solid #ff9b38;
    background-color: #fff5df;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.needs-validation{
    border: 2px solid #2f99d3;
    background-color: rgba(47, 151, 209, 0.04);
    border-radius: 5px;
}

h2{
    text-align: center;
    padding-bottom: 5%;
}

#bouton-form{
    width: 32%;
    box-shadow: 9px 8px 15px -3px rgba(0,0,0,0.75);
    padding: 10px;
    margin-top: 30px;
}

.erreur{
    text-align: center;
    margin: 2px;
    color: red;
    background-color: #ffe7ef;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 2px;
    display : none;
}

#texte-presentation{
    height: 200px;
    overflow-y: scroll;
}

.lot-container{
    padding: 10px;

}

.lot{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 3px;
}

.lot > row{
    margin: 10px;
}

#boutton-envoyer{
	margin-top: 5%;
}
